<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true">
    <variable name="logLayout" value="
        ${longdate}|${uppercase:${level}}|${logger}:${newline}
        ${message}
        ${when:when=length('${scopenested}') > 0:inner=#Context: ${scopenested}}
        ${onexception:inner=${newline}#Exception: ${exception:format=toString}}" />
    <targets>
        <target xsi:type="File" name="fileTarget" fileName="${basedir}/logs/${shortdate}.log" layout="${logLayout}" />
        <target xsi:type="ColoredConsole" name="consoleTarget" layout="${logLayout}" />
    </targets>
    <rules>
        <!-- exclude Microsoft library spam from logs. Order of rules is important-->
        <logger name="Microsoft.*" maxlevel="Information" final="true" />
        <logger name="System.Net.Http.HttpClient.*" maxlevel="Information" final="true" />

        <logger name="*" minlevel="Debug" writeTo="consoleTarget" />
        <logger name="*" minlevel="Info" writeTo="fileTarget" />
    </rules>
</nlog>
